/* font-family: 'Fuggles', cursive;
font-family: 'Kristi', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Megrim', cursive;
font-family: 'Palette Mosaic', cursive;
font-family: 'Qahiri', sans-serif;
font-family: 'Reenie Beanie', cursive;
font-family: 'WindSong', cursive; */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  overscroll-behavior-y: none;
  -ms-overflow-style: none;
  cursor: default;
}

main {
  display: flex;
  background-color: #F9FBFA;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 650px;
}

h1 {
  position: absolute;
  color: #FFB7B3;
  font-size: 4.5em;
  text-align: left;
  margin: 0.37em 7em;
  padding: 0px 1062px 0px 0px;
  font-family: 'Hachi Maru Pop', cursive;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

.nav-bar {
  display: flex;
  height: 25%;
  max-width: 100%;
  background-color: #363537;
  font-family: 'Reenie Beanie', cursive;
}

.nav-bar__logo {
  width: 57%;
}

.nav-bar__navigation-menu {
  display: flex;
  position: relative;
  margin: 83px 0px 0px 61px;
  width: 529px;
  justify-content: space-between;
  font-size: 31px;
}

.nav-bar__logo-name,
.admin-user-dropdown,
.navigation-menu__button,
.admin-user-dropdown__dropdown {
  color: #FDF6D3;
}

.nav-bar__logo-name {
  font-size: 43px;
  position: relative;
  margin: 83px 0px 0px 629px;
  display: flex;
  width: 220px;
  text-align: -webkit-right;
  z-index: 1;
  font-family: 'Reenie Beanie', cursive;
}

.navigation-menu__button,
.admin-user-dropdown__dropdown {
  background-color: #363537;
  border-style: none;
}

.shares {
  color: #FFB7B3;
}

.admin-user-dropdown__dropdown {
  display: flex;
  position: relative;
  width: 20px;
  margin: -20px 0px 0px 411px;
}

.admin-user-dropdown__text {
  display: flex;
  position: relative;
  margin: -23px 0px 0px 304px;
  font-size: 18px;
}

.admin-user-dropdown {
  display: flex;
  margin: 6px 12px 0px -443px;
  flex-direction: column;
}

.nav-bar__nav-bar-images {
  display: flex;
  margin: 93px 0px 0px 20px;
}

.logo-name__logo,
.nav-bar-images__shares-icon,
.nav-bar-images__playlist-icon,
.nav-bar-images__video-icon {
  position: relative;
  height: 35px;
  width: 35px;
}

.nav-bar-images__shares-icon {
  margin: -7px 0px 0px -1409px
}

.nav-bar-images__playlist-icon {
  margin: -7px 0px 0px 143px;
}

.nav-bar-images__video-icon {
  margin: -5px 0px 0px 151px;
}

.logo-name__logo {
  width: 112px;
  position: relative;
  margin: -14px 0px 0px -155px;
  display: flex;
  z-index: -1;
}

.admin-user-dropdown__user-icon {
  height: 25px;
  width: 25px;
  position: relative;
  margin: 3px 0px 0px 269px;
}

.card-top {
  height: 550px;
  width: 347px;
  box-shadow: 0 0px 3px 1px rgb(0 0 0 / 10%), 0 0px 3px 1px rgb(0 0 0 / 20%);
  margin-top: 150;
  background-color: #FAFAFA;
}

.card-bottom {
  height: 550px;
  width: 347px;
  box-shadow: 0 0px 3px 1px rgb(0 0 0 / 10%), 0 0px 3px 1px rgb(0 0 0 / 20%);
  margin-top: 10px;
  background-color: #FAFAFA;
}

.card {
  margin: 17px 0px 0px 12px;
  font-size: 23px;
}

.image-container__text-card,
.image-container__text-card-u,
.image-container__number-card-u,
.image-container__number-card-u-two,
.image-container__number-card {
  text-shadow: 2px 2px 2px;
  position: absolute;
  color: #FF6E66;
}

.image-container__text-card,
.image-container__text-card-u {
  margin: -180px 0px 0px 270px;
}

.image-container__number-card,
.image-container__number-card-u-two {
  margin: -164px 0px 0px 281px;
  font-size: 30px;
}

.image-container__number-card-u {
  margin: -164px 0px 0px 268px;
  font-size: 30px;
}

.image-container__text-card-u,
.image-container__number-card-u,
.image-container__number-card-u-two {
  color: #FF6E66;
}

.text__top-text-one-card-one,
.text__top-text-two-card-one,
.text__bottom-text-one-card-one,
.text__bottom-text-two-card-one,
.text__bottom-text-three-card-one,
.text__bottom-card-number-card-one,
.text__top-text-one-four-card-one {
  font-family: 'Kristi', cursive;
}

.text__top-text-one-card-two,
.text__top-text-two-card-two,
.text__bottom-text-one-card-two,
.text__bottom-text-two-card-two,
.text__bottom-text-three-card-two,
.text__bottom-card-number-card-two,
.text__top-text-one-four-card-two {
  font-family: 'Megrim', cursive;
}

.text__top-text-one-card-three,
.text__top-text-two-card-three,
.text__bottom-text-one-card-three,
.text__bottom-text-two-card-three,
.text__bottom-text-three-card-three,
.text__bottom-card-number-card-three,
.text__top-text-one-four-card-three {
  font-family: 'Fuggles', cursive;
}

.text__top-text-one-card-four,
.text__top-text-two-card-four,
.text__bottom-text-one-card-four,
.text__bottom-text-two-card-four,
.text__bottom-text-three-card-four,
.text__bottom-card-number-card-four,
.text__top-text-one-four-card-four {
  font-family: 'Major Mono Display', monospace;
}

.text__top-text-one-card-five,
.text__top-text-two-card-five,
.text__bottom-text-one-card-five,
.text__bottom-text-two-card-five,
.text__bottom-text-three-card-five,
.text__bottom-card-number-card-five,
.text__top-text-one-four-card-five {
  font-family: 'Palette Mosaic', cursive;
}

.text__top-text-one-card-six,
.text__top-text-two-card-six,
.text__bottom-text-one-card-six,
.text__bottom-text-two-card-six,
.text__bottom-text-three-card-six,
.text__bottom-card-number-card-six,
.text__top-text-one-four-card-six {
  font-family: 'Qahiri', sans-serif;
}

.text__top-text-one-card-seven,
.text__top-text-two-card-seven,
.text__bottom-text-one-card-seven,
.text__bottom-text-two-card-seven,
.text__bottom-text-three-card-seven,
.text__bottom-card-number-card-seven,
.text__top-text-one-four-card-seven {
  font-family: 'WindSong', cursive;
}

.text__top-text-one-card-eight,
.text__top-text-two-card-eight,
.text__bottom-text-one-card-eight,
.text__bottom-text-two-card-eight,
.text__bottom-text-three-card-eight,
.text__bottom-card-number-card-eight,
.text__top-text-one-four-card-eight {
  font-family: 'Reenie Beanie', cursive;
}

.text__top-text-two-card-one,
.text__top-text-two-card-two,
.text__top-text-two-card-three,
.text__top-text-two-card-five,
.text__top-text-two-card-six,
.text__top-text-two-card-seven,
.text__top-text-two-card-eight {
  font-size: 17px;
  margin: 0px 0px 0px 12px;
}

.text__top-text-one-card-four {
  font-size: 13px;
}

.text__top-text-two-card-four {
  font-size: 11px;
  margin: 10px 0px 0px 12px
}

.url__url-text {
  display: flex;
  flex-wrap: wrap;
  width: 90px;
  font-family: 'Hachi Maru Pop', cursive;
  width: 300px;
  font-size: 11px;
  text-align: center;
}

.text__url,
.text__url-four {
  height: 55px;
  width: 300px;
  background-color: #F0E6E7;
  position: absolute;
  margin: 38px 0px 0px 24px;
}

.text__url-four {
  margin-top: 47px;
}

.image-container__image {
  height: 35%;
  width: 100%;
}

.image-container__icon {
  position: absolute;
  height: 70px;
  width: 70px;
  margin: 15px 0px 0px 18px;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[hidden] {
  display: none;
}
